.roomTable{
    padding: 20px;
    height: 450px;
    .data{
        .header{
            color:#01166b ;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }
        font-weight: bold;
        text-align: center;
    }

}