.home{
 display: flex;
  flex-direction: column;
   min-height: 100vh;
    .head{
      display: flex;
      align-items: center;
      justify-content: center;
      flex:1;
      background-color: #3E54AC;
      -webkit-box-shadow: 2px 4px 10px 1px lightgray;
      box-shadow: 2px 4px 10px 1px lightgray;
      padding: 10px;
      border-radius: 4px;
      margin: 10px;

      h3{
          font-size: 40px;
          text-align: center;
          letter-spacing: 2px;
          padding: 20px;
          color: #ffffff;
      }
    }
   .mainpage{
    background-color: #3E54AC;
    -webkit-box-shadow:2px 4px 10px 1px rgb(149, 158, 194);
    box-shadow: 2px 4px 10px 1px rgb(237, 229, 229);
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
      flex:8;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0f2f3;
      .cards{
        .link{
          text-decoration: none;
        }
        .card{

        -webkit-box-shadow: 2px 4px 10px 1px lightgray;
            box-shadow: 2px 4px 10px 1px lightgray;
            border-radius: 20px;
        }
            display: flex;
            gap:100px
      }
   }

}