.sidebar{
        
    flex:1;
    border-right:0.6px solid #ddd8cf;
    min-height: 100vh;
    background-color: #f0f2f3;


    .top{
        background-color: #3E54AC;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        &:hover{
          .logo{
            color:pink;
          }
        }

        .logo{
        
            font-size: 30px;
            font-weight:700;
            text-shadow:#6c1687;
            color:#BFDCE5 ;

         

        }
    }


    hr{
        height: 0;
        border: 0.5px solid #F7F1E5;
    }
    
    .center{
        padding-left: 10px;
       
        ul{
            margin: 0;
            padding: 0;
            list-style: none;

            .title{
                 color: #6c1687;
                 font-size: 18px;
                 font-weight: bolder;
                 margin-top: 10px;
                 margin-bottom: 2px;
                 padding: 2px;

            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background-color: #e0d5f9e2;
                    
                    
                }

                .text{
                    color: #191825;
                    font-weight: bold;
                    font-size: 20px;
                    padding: 10px;
                    
    

                }
                .icon{
                    font-size: 25px;
                    color:#3E54AC;

                }

            }

        }
        
    }



}